<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Lucifr Liu</string>
	<key>Builder Version</key>
	<string>8536.26.14</string>
	<key>CFBundleDisplayName</key>
	<string>Google Reader Readable Plus</string>
	<key>CFBundleIdentifier</key>
	<string>com.lucifr.googlereaderreadableplus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/GoogleReaderReadablePlus.user.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/no-ads.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://www.google.com/reader/view/*</string>
			<string>https://www.google.com/reader/view/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>a readable style for Google Reader, based on http://stylebot.me/styles/738.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://cdn.lucifr.com/safari-extension/update.plist</string>
	<key>Website</key>
	<string>http://lucifr.com/project/google-reader-readable-plus/</string>
</dict>
</plist>
